<p
  style="text-align: center;margin: 50px;vertical-align: middle;letter-spacing: 1.5rem;line-height: 1.4;font-size: 30px;font-weight: 400;">
  ...</p>
<p>
  <i>
    If you like this post and the kind of culture you want to be a part of, join use to <a
      href="https://hubble.sg/">BUILD THE NEXT GENERATION SMART WORKSITE</a> 💪, because we are hiring:
    <ul style="margin-top: 0.5rem;">
      <li>
        <a href="https://bit.ly/hubble-saigon-qa">QA Engineer</a>
      </li>
    </ul>
  </i>
</p>
